body {
    padding-top: 50px;
    margin-bottom: 50px;
}
.tic-tac-toe {
    padding: 40px 15px;
    text-align: center;
    border: 1px solid #e5e5e5;
}
.rules {
    padding-top: 20px;
    border: 1px solid #e5e5e5;
}
table {
    width: 100%;
}
td {
    width: 33.3%;
}