body {
    padding-top: 50px;
    margin-bottom: 50px;
}
.main_body {
    padding: 40px 15px;
    text-align: center;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

#startPage{
  margin-top: 15%;
}

.form-control{

}


.form-horizontal{
  text-align: center;
  margin: auto;
  width: 50%;
}
